@model IEnumerable<NetCoreApp.Models.Event>

@{
    Layout = "~/Views/Shared/_MenuLogedInAdmin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowAllEvents</title>
</head>
<body>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Datefrom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateTo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalSpace)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RemainingSpace)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Takesplace)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Datefrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalSpace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RemainingSpace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Takesplace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
